<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>name</key>
				<string>PNG</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/1.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossless</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/1_webp_ll.webp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossy</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/1_webp_a.webp</string>
			</dict>
		</array>
		<key>name</key>
		<string>Yellow Rose</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>name</key>
				<string>PNG</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/2.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossless</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/2_webp_ll.webp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossy</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/2_webp_a.webp</string>
			</dict>
		</array>
		<key>name</key>
		<string>baby tux for my user page</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>name</key>
				<string>PNG</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/3.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossless</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/3_webp_ll.webp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossy</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/3_webp_a.webp</string>
			</dict>
		</array>
		<key>name</key>
		<string>PNG transperancy demonstration</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>name</key>
				<string>PNG</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/4.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossless</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/4_webp_ll.webp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossy</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/4_webp_a.webp</string>
			</dict>
		</array>
		<key>name</key>
		<string>Gregor Mendel&#39;s 189th Birthday</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>name</key>
				<string>PNG</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/5.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossless</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/5_webp_ll.webp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WebP-lossy</string>
				<key>url</key>
				<string>https://www.gstatic.com/webp/gallery3/5_webp_a.webp</string>
			</dict>
		</array>
		<key>name</key>
		<string>Transparent compass card for overlays</string>
	</dict>
</array>
</plist>
